*{
    margin: 0px;
    padding: 0px;
    font-family: 'Exo', sans-serif;
}

/*banner*/
.banner h1{
    font-size: 3.5em;
    font-weight:lighter;
    padding-top: 100px;
    text-align: center;
    color: dimgray;
}

.banner p{
	text-align: center;
    padding:30px 0 30px 0;
    color: darkgrey;
    font-size: 1.2em;
    font-weight:lighter;
    word-spacing: 5px;
    line-height: 30px;
}
 ul{
    list-style: none;
    padding-bottom:50px;
}

 li{
	text-align: center;
    border:1px solid dimgray;
    width:150px;
    border-radius:50px;
    margin: auto;
    padding: 10px;
    list-style: none;
}

 a{
	color: dimgray;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*one*/

.wrapper {
	background-color:#f0f0f0;
    width: 100vw;
    height: 100%;
}

.wrapper .inner{
    margin: auto;
    width: 400px;
    text-align: center;
}

.inner h2{
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 2em;
    font-weight: 100;
    color: dimgray;
}

.inner p{
	letter-spacing: 1px;
    line-height: 35px;
    color: dimgray;
    padding-bottom: 50px;
}

.Inner_text .content {
    float: left;

}

.Inner_text .text {
	margin: auto;
    padding-top: 50px;
    width: 500px;
}


.Inner_text .images {
    float: right;
    width: 500px;
   /*padding-right: 40px;*/
}

.Inner_text .style2{
    /*width: 500px;*/
    float: right;
}

.wrapper .text h3{
    font-size: 1.5em;
    font-weight: 100;
    color: dimgrey;
    padding: 25px 0; 
}

.wrapper .text p{
	color: darkgrey;
    letter-spacing: 0.5px;
    font-size: 15px;
    padding-bottom: 30px;
}

.Inner_text .style3{
    float: left;
    width: 500px;
    margin:0 auto;
}

.Inner_text img{
    width: 500px;
    border-radius: 10px;
}


.Inner_text{
    height: 400px;
    width: 1050px;
    margin: auto;
}

.style1 {
	width: 100px;
    position: absolute;
}














